.label {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.buttons {
  display: flex;
  gap: 4px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 4px;
}

.rating {
  border: 0;
  width: 8px;
}
