.footer {
  padding: 16px;
  border: solid 1px black;
}

.main {
  width: 50%;
  margin: 0 auto;
}

.cart {
  margin-top: 24px;
}

.headerWrapper {
  margin-bottom: 24px;
}

.footer {
  margin-top: 24px;
}
